*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
}

#wrapper{
    padding:0;
    height:100vh;
    background-color:#27A2A4;
}
#header{
    font-size:14px;
    height:auto;
    line-height:4vh;
    padding: 0;
    margin:0;
    color:white;
    vertical-align: middle;
}
#header p{
    display:inline-block ;
    margin: 0 20px;
}
#networkStatusBox{
    margin:0;
    height:.9em;
    width:.9em;
    background-color:rgb(17, 224, 17);
}
#sideBar{
    display:inline-block;
    height:96vh;
    min-width:10vw;
    margin:0px;
    padding:0px;
    background-color:brown;
    text-align: center;
    color:white;
}
#sideBar ul{
    list-style-type: none;
}
#sideBar ul li{
    font-size:10px;
    padding:20px 0px;
    margin:0px;
}
#openChecks{
    position:absolute;
    display:inline-block;
    text-align:center;
    margin:0 10px;
    padding:5px 2px;
    height:80vh;
    min-width:60vw;
    max-width:60vw;
    background-color:rgb(230, 230, 230);
}
#openChecksWrapper{
    padding:0 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.checkBox{
    flex-basis: 20%;
    line-height:5vh;
    margin:5px;
    background-color:rgb(137, 194, 167);
    border: solid 1px black;
}
#openChecks h1{
    font-size:12px;
    font-weight:bold;
}
#openChecks h1:hover{
    background-color:rgb(160, 223, 193); 
}
#openChecks h1 p{
    font-size:10px;
}
#toolbar{
    position:absolute;
    display:inline-block;
    top:86vh;
    background-color:rgb(230, 230, 230);
    margin:0 10px;
    min-width:60vw;
    max-width:60vw;
    min-height:10vh;
    text-align:center;
}
#toolbarWrapper{
    display:flex;
    justify-content: center;
}
.toolbarBox{
    justify-content: center;
    text-align:center;
    flex-basis: 20%;
    min-height:10vh;
    line-height:10vh;
    margin:5px;
    background-color:rgb(137, 194, 167);
    border: solid 1px black;
}
.toolbarBox h1{
    font-size:10px;
}
.toolbarBox:hover{
    background-color:rgb(160, 223, 193);
}



